<div id='about'>
	<div class=entry><b>Opensource offline notes</b></div>
	<div class=entry>This app was created due to the lack of good notes on the Marketplace. Has the ability of regular automatic backup and autosaving while typing.</div>
	<div class=entry>Current version: 2.1.1</div>
	<div class=entry><a href=http://github.com/knezi/ONotes target=_blank>github.com/knezi/ONotes</a></div>
	<div class=entry>Jan Knížek</div>
	<div class=entry><a href=mailto:jk@janknizek.cz>jk@janknizek.cz</a></div>
	<div class=entry><a href=http://cv.janknizek.cz target=_blank>cv.janknizek.cz</a></div>
</div>
