<div id='backup'>
		<ul id=backup_list>
			Choose the backup you want to recover:
		</ul>
	<div id=backup_settings>
		<div class=entry>
			<button id=import>
			<label for=import>recover</label>
		</div>
		<div class=entry>
			<button id=export>
			<label for=export>backup now</label>
		</div>
		<div class=entry>
			<span>Automatic backup:</span>
			<select name="backup">
			<option value="0">Manually</option>
			<option value="1">Monthly</option>
			<option value="2">Weekly</opton>
			<option value="3">Daily</opton>
			</select>
		</div>
		<div class=entry>
			The autobackup is performed at the start of the application. So notes made today will be in the next backup.
		</div>
	</div>
</div>
