<div id='settings'>
	<div class=entry>
		<input type=checkbox id=autosave>
		<label for=autosave>autosave notes</label>
	</div>

	<div class=entry>
		<span>Labels for colours:</span>

		<div class=labels>
			<input type="text" class="c1" placeholder="Label for this colour">
			<input type="text" class="c2" placeholder="Label for this colour">
			<input type="text" class="c3" placeholder="Label for this colour">
			<input type="text" class="c4" placeholder="Label for this colour">
			<input type="text" class="c5" placeholder="Label for this colour">
			<input type="text" class="c6" placeholder="Label for this colour">
		</div>
	</div>
</div>
